
body{
  background-color: #021a3f;
  color:white;
}

.dc-container{
  width:80%;
  border:1px dotted #4EBDF2;;
  display:flex;
  flex-wrap: wrap;
  margin:30px auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.box{
  width:100px;
  height:100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  margin:10px;
}

.pink{
  background-color: #f573f5;
 
}

.lilla{
  background-color: #a64ee9;
 
}

.violet{
  background-color: #6855d2;
}

.lightblue{
  background-color: #4EBDF2;
}

h1{
  font-size:400%;
  background-image: linear-gradient(to left, #f387f3, #cc96f6, #6B55E6, #297EFC, #98d3ee);
  color:transparent;
  -webkit-background-clip: text;

}
